body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.h-margin10-L {
  margin-left: 10px;
}
.pagination a {
  cursor: pointer;
}
/*
* 表单校验样式 start
*/
label.text-danger {
  margin-top: 5px;
}
input.text-danger,
textarea.text-danger,
select.text-danger {
  border-color: #E9322D;
  box-shadow: 0 0 6px #F8B9B7;
}
/*
* 表单校验样式 end
*/
