body {
  padding-top: 50px;
}

/*
* 外边距、内边距样式 样式
*/
.margin10-T {
  margin-top: 10px;
}

.margin10-B {
  margin-bottom: 10px;
}

.margin10-L {
  margin-left: 10px;
}

.margin10-TB {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin20-L {
  margin-left: 20px;
}

.margin50-T {
  margin-top: 50px;
}

/*
* 外边距、内边距样式 start
*/
.pagination a {
  cursor: pointer;
}

.bs-callout {
  border-color: #ccc;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  margin: 20px 0;
  padding: 20px;
}

.bs-callout-info {
  border-left-color: #5BC0DE;
}

.hf-list > li {
  margin: 10px;
  color: #007399;
  font-weight: bold;
  font-size: 14px;
}

.hf-paragraph p {
  line-height: 2em;
  text-indent: 2em;
}

.head-portrait-default {
  background: url("../images/head-portrait-default.png") no-repeat;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.head-portrait-list {
  border: 1px solid #cccccc;
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
}

.head-portrait-list > li {
  float: left;
}

.head-portrait-list > li > a {
  padding: 3px;
  display: inline-block;
  border: 1px solid transparent;
  height: 58px;
  border-radius: 2px;
}

.head-portrait-list > li.active > a {
  border-color: #8EB3E0;
  background-color: #D0E5FF;
}

.head-portrait1,
.head-portrait2,
.head-portrait3,
.head-portrait4,
.head-portrait5,
.head-portrait6,
.head-portrait7,
.head-portrait8,
.head-portrait9 {
  background: url("../images/head-portrait.png") no-repeat;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.head-portrait1 {
  background-position: 0 0;
}

.head-portrait2 {
  background-position: -63px 0;
}

.head-portrait3 {
  background-position: -126px 0;
}

.head-portrait4 {
  background-position: -189px 0;
}

.head-portrait5 {
  background-position: -252px 0;
}

.head-portrait6 {
  background-position: -315px 0;
}

.head-portrait7 {
  background-position: -378px 0;
}

.head-portrait8 {
  background-position: -441px 0;
}

.head-portrait9 {
  background-position: -504px 0;
}
.dropdown-input.form-control[readonly]{
  background-color: #FFFFFF;
  cursor: default;
}
