.blog-footer {
  background-color: #273F56;
}

.blog-footer .text-muted {
  margin: 20px 0;
}

.footer-links {
  background-color: #273F56;
  padding: 20px 0;
}

.links-item > li {
  float: left;
}

.links-item > li:first-child {
  margin-right: 20px;
}

.links-item-title {
  color: #B0B8BD;
  font-size: 16px;
}

.links-item-content a {
  margin-right: 10px;
}

.links-item-content a,
.links-item-content a:hover,
.links-item-content a:focus,
.links-item-content {
  color: #3499BE;
}

.footer-copyright {
  background-color: #375069;
  color: #B0B8BD;
  padding: 20px 0 10px;
}

/**
 * 修改分享代码样式与bootstrap的冲突
 * http://www.bshare.cn
**/
.bsBox,
.bsBox *,
#bsPanelHolder,
#bsPanelHolder * {
  box-sizing: content-box;
}

/**
 * 博客内容
**/
.blog-content {
  margin-top: 10px;
}

.blog-content p {
  line-height: 2em;
  text-indent: 2em;
}

.comment > li {
  margin-top: 30px;
  padding: 10px;
  border: 1px dashed #BCE8F1;
}

.comment > li > ul {
  margin-left: 60px;
}

.comment-content {
  border-radius: 5px;
  margin: 10px 0;
  position: relative;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 1.5em;
}

.comment-content:before,
.comment-content:after {
  content: "";
  display: block;
  position: absolute;
  top: -1.6em;
  left: .844em;
  border: 0.8em solid rgba(0, 0, 0, 0.1);
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}

.comment-content:after {
  margin-top: .201em;
  border-color: transparent transparent #fff transparent;
}

.comment-has-content {
  border-top: 1px solid #EEEEEE;
  margin: 20px 0;
}

.label-list > a {
  display: inline-block;
  margin-right: 10px;
  padding: 3px 0;
}

.article-subtitle {
  vertical-align: middle;
  font-size: 18px;
}

.article-meta > ul > li {
  float: left;
  margin-right: 10px;
  color: #0059b3;
}

.article-meta > ul > li > a {
  margin-left: 8px;
  margin-right: 5px;
}

.article-boutique {
  background: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 30px;
  opacity: 0.7;
  padding: 10px 20px;
}

.article-boutique p {
  line-height: 2em;
  text-indent: 2em;
}

.boutique-pagination {
  background-color: #C4CDC1;
}

.boutique-pagination > li > a,
.boutique-pagination > li > span {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0;
}

.boutique-pagination > li > a,
.boutique-pagination > li > span,
.boutique-pagination > li > a:hover,
.boutique-pagination > li > a:focus {
  border: 0 none;
}

.boutique-pagination > li > span,
.boutique-pagination > li > span:hover,
.boutique-pagination > li > span:focus {
  border-left: 1px solid #658B6F;
  border-right: 1px solid #658B6F;
}

.boutique-pagination > li > a > i.fa {
  font-size: 4em;
  height: 70px;
  line-height: 70px;
}

.boutique-pagination > li > a > i.fa,
.boutique-pagination > li > span {
  padding: 0 25px;
}

.boutique-pagination > li > span.page-number {
  height: 92px;
  line-height: 92px;
}