/*
* 表单校验样式
*/
label.text-danger {
  margin-top: 5px;
}

input.text-danger,
textarea.text-danger,
select.text-danger {
  border-color: #E9322D;
  box-shadow: 0 0 6px #F8B9B7;
}

.required {
  color: #B52424;
}