<!-- 图片预览 -->
<div class="dialog" id="imgView" style="display: none;">
  <div class="dialog-panel">
    <div class="dialog-content">
      <div class="dialog-header">
        <button type="button" class="close" data-dialog="close"><span>×</span></button>
        <h4 class="dialog-title">鼠标滚轮缩放图片</h4>
      </div>
      <div class="dialog-body">
        <div>
          <img class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dialog-overlay" id="imgViewOverlay" style="display: none;"></div>
