<ul class="list-unstyled">
  <li ng-repeat="article in articles">
    <h4>{{article.createdDate}}</h4>

    <h2><a href="">{{article.title}}</a></h2>

    <div>
      <p>{{article.content}} </p>

      <p><a ng-href="#/article/{{article._id}}">阅读全文 »</a></p>
    </div>
    <hr/>
  </li>
</ul>

<pagination boundary-links="true" total-items="totalItems" ng-model="page.currentPage" items-per-page="itemsPerPage"
            max-size="maxSize" num-pages="numPages" ng-change="loadArticles()" class="pagination-sm"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>