<article>
  <h3>{{article.title}} <span class="article-subtitle">{{article.createdDate}}</span></h3>

  <div class="margin10-TB" style="display:none;">
    <strong>转载请标注出处： </strong> <a ng-href="{{articleLink}}">{{articleLink}}</a>
  </div>
  <div class="blog-content" ng-bind-html="article.content">

  </div>
  <!--/.blog-content -->

  <div class="margin10-TB" style="display:none;">
    <strong>转载请标注出处： </strong> <a ng-href="{{articleLink}}">{{articleLink}}</a>
  </div>

  <aside class="article-meta">
    <ul class="list-unstyled clearfix">
      <li>
        <span class="glyphicon glyphicon-folder-close"></span>
        <a ng-repeat="category in article.categories" title="查看{{category.name}}中的全部文章" href="">{{category.name}}</a>
      </li>
      <li>
        <span class="glyphicon glyphicon-heart-empty"></span>
        <a title="文章《{{article.title}}》的评论数" href="#">{{comments.length}} 条评论</a>
      </li>
      <li class="tags">
        <span class="glyphicon glyphicon-tags"></span>
        <a ng-repeat="label in article.labels" href="">{{category.label}}</a>

      </li>
    </ul>

  </aside>
</article>
<div class="navigation-post">
  <ul class="pager">
    <li class="previous" ng-if="prevArticle">
      <a ng-href="{{prevArticle.articleLink}}">
        <span class="glyphicon glyphicon-chevron-left"></span> {{prevArticle.title}}
      </a>
    </li>
    <li class="next" ng-if="nextArticle">
      <a ng-href="{{nextArticle.articleLink}}">
        {{nextArticle.title}} <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </li>
  </ul>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">相关文章</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li ng-repeat="article in relatedArticle"><a ng-href="{{article.articleLink}}">{{article.title}}</a>
        <span>{{article.createdDate}}</span></li>
    </ul>
  </div>
</div>

<div class="blog-comment">
  <h3>评论</h3>
  <hr/>

  <div id="commentList"></div>

  <ul class="list-unstyled comment">
    <li>
      <div class="clearfix">
        <img class="pull-left" src="./images/head-portrait.png" alt="头像" width="50px" height="50px"/>

        <div class="pull-left margin20-L">
          <p><a href="#">2014年5月23日 at 上午10:26</a></p>

          <p>Linder</p>
        </div>
      </div>
      <div class="comment-content">
        写的不错，学习了
      </div>
      <div>
        <a href=""><span class="glyphicon glyphicon-share-alt"></span> 回复</a>
      </div>
      <ul class="list-unstyled comment">
        <li>
          <div class="clearfix">
            <img class="pull-left" src="./images/head-portrait.png" alt="头像" width="50px" height="50px"/>

            <div class="pull-left margin20-L">
              <p><a href="#">2014年5月23日 at 上午10:26</a></p>

              <p>Linder</p>
            </div>
          </div>
          <div class="comment-content">
            回复1
          </div>
          <div>
            <a href=""><span class="glyphicon glyphicon-share-alt"></span> 回复</a>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="clearfix">
        <img class="pull-left" src="./images/head-portrait.png" alt="头像" width="50px" height="50px"/>

        <div class="pull-left margin20-L">
          <p><a href="#">2014年5月23日 at 上午10:26</a></p>

          <p>Linder</p>
        </div>
      </div>
      <div class="comment-content">
        评论二
      </div>
      <div>
        <a href=""><span class="glyphicon glyphicon-share-alt"></span> 回复</a>
      </div>
    </li>
    <li>
      <div class="clearfix">
        <img class="pull-left" src="./images/head-portrait.png" alt="头像" width="50px" height="50px"/>

        <div class="pull-left margin20-L">
          <p><a href="#">2014年5月23日 at 上午10:26</a></p>

          <p>Linder</p>
        </div>
      </div>
      <div class="comment-content">
        评论三
      </div>
      <div>
        <a href=""><span class="glyphicon glyphicon-share-alt"></span> 回复</a>
      </div>
    </li>
  </ul>

  <hr/>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">发表评论</h3>
    </div>
    <div class="panel-body">
      <form name="commentForm" comment-validator="validator">
        <textarea rows="5" class="form-control" ng-model="comment.content" required=""></textarea>

        <div class="row margin10-T" ng-if="!$parent.account">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="commentator"><i class="required">*</i> 昵称</label>
              <input type="text" placeholder="请输入昵称或姓名" id="commentator" class="form-control" ng-model="comment.commentator" required=""
                     maxlength="100"/>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="email"><i class="required">*</i> Email</label>
              <input type="email" placeholder="请输入您的email，方便交流" id="email" class="form-control" ng-model="comment.email" required=""
                     maxlength="100"/>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="site">个人博客或站点</label>
              <input type="text" id="site" class="form-control" ng-model="comment.site" maxlength="100"/>
            </div>
          </div>
        </div>

        <div class="margin10-T">
          <button class="btn btn-primary btn-default" type="button" ng-click="publishComment();">发表评论</button>
        </div>
      </form>
    </div>
  </div>

</div>
<!--/.blog-comment -->