<div ng-controller="BlogCtrl" ng-init="logined = <%= locals.logined %>;">
  <div class="jumbotron">
    <div class="container">
      <h1>我的博客</h1>

      <p>{{blog.account.signature || '这家伙很懒，没有留下任何个人签名'}}</p>

      <p><a href="mailto:{{blog.account.email}}">联系我</a></p>
    </div>
  </div>
  <!--/.jumbotron -->

  <div class="container">

    <div class="row">

      <section class="col-sm-8">
        <div ng-if="logined">
          <div class="clearfix">
            <button class="btn btn-link btn-lg pull-right" type="button" ng-click="manageBlog();">
              <span class="glyphicon glyphicon-cog"></span>
              管理我的博客
            </button>
            <button class="btn btn-link btn-lg pull-right" type="button" ng-click="createBlog();">
              <span class="glyphicon glyphicon-plus"></span>
              发表新文章
            </button>
          </div>
          <hr/>
        </div>

        <!-- 文章信息：根据不同的路由显示不同的内容，文章列表，文章信息等等 -->
        <div ng-view>

        </div>
      </section>

      <aside class="col-sm-3 col-sm-offset-1">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
        <div>
          <h3>关于作者</h3>

          <p>昵称: {{blog.account.name}}</p>

          <p>英文名:{{blog.account.englishName}}</p>

          <p>漂泊地: {{blog.account.residence}}</p>

          <p>职位：{{blog.account.position}}</p>

          <p>email：{{blog.account.email}}</p>
        </div>

        <div>
          <h3>最热文章</h3>
          <ol class="list-unstyled">
            <li ng-repeat="article in blog.hotArticles"><a ng-href="#/article/{{article._id}}">{{article.title}}</a> <span> - 539 views</span></li>
          </ol>
        </div>

        <div>
          <h3>近期文章</h3>
          <ol class="list-unstyled">
            <li ng-repeat="article in blog.recentArticles"><a ng-href="#/article/{{article._id}}">{{article.title}}</a> <span>{{article.createdDate}}</span></li>
          </ol>
        </div>

        <div>
          <h3>文章归档</h3>
          <ol class="list-unstyled">
            <li ng-repeat="archive in blog.articlesArchive"><a href="#">{{archive._id}}</a> <span>（{{archive.articleCount}}）</span></li>
          </ol>
        </div>

        <div>
          <h3>分类目录</h3>
          <ol class="list-unstyled">
            <li ng-repeat="category in blog.categories"><a href="#">{{category.name}}</a> <span>（{{category.count}}）</span></li>
          </ol>
        </div>

        <div>
          <h3>标签</h3>

          <div class="well well-sm label-list clearfix">
            <a href="" ng-repeat="label in blog.labels" ng-style="label.style">{{label.name}}</a>
          </div>
        </div>

        <div>
          <h3>近期评论</h3>
          <ol class="list-unstyled">
            <li>张三评论了&lt;&lt;AngularJS源码分析&gt;&gt; 这篇文章写得不错...</li>
            <li>张三评论了&lt;&lt;AngularJS源码分析&gt;&gt; 这篇文章写得不错...</li>
          </ol>
        </div>

        <div>
          <h3>站外博客</h3>
          <ol class="list-unstyled">
            <li><a href="#">AngularJs</a></li>
          </ol>
        </div>
      </aside>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

</div>