<div class="jumbotron">
  <div class="container">
    <h1>我的博客</h1>

    <p>热爱互联网，专注于前端开发, JAVASCRIPT , ANGULAR.JS , NODE.JS</p>

    <p><a>联系我</a></p>
  </div>
</div>
<!--/.jumbotron -->

<div class="container">

  <div class="row">

    <div class="col-sm-8">
      <div class="clearfix">
        <button class="btn btn-link btn-lg pull-right" type="button" ng-click="manageBlog();">
          <span class="glyphicon glyphicon-cog"></span>
          管理我的博客
        </button>
        <button class="btn btn-link btn-lg pull-right" type="button" ng-click="createBlog();">
          <span class="glyphicon glyphicon-plus"></span>
          发表新文章
        </button>
      </div>
      <hr/>
      <ul class="list-unstyled">
        <li>
          <h4>12 Apr 2014 on Yamaha, digital piano, P-105</h4>
          <h2><a href="">雅马哈P-105电钢琴</a></h2>
          <div>
            <p>从一个念想到实现，如果念想本身不符合自身，那么实现的过程就必须跨越道道鸿沟，
              比如钢琴之于我，是非常不相称的东西，但向往之心犹在，万不会因为时光流转而销声匿迹，
              反而因为念想的时长而愈发强烈。最后，用一个借来的名义，付诸实践，美其名曰为了孩子。
              且不觉，只要心怀理想，男人就永远是个少年～ 真钢琴和电钢琴的选择上没有疑虑，家用后者完胜。只是在选择产品的时候还是花了很多时间的，
              比如卡西欧，罗兰… </p>
            <p><a href="">阅读全文 »</a></p>
          </div>
          <hr/>
        </li>

        <li>
          <h4>12 Apr 2014 on Yamaha, digital piano, P-105</h4>
          <h2><a href="">雅马哈P-105电钢琴</a></h2>
          <div>
            <p>从一个念想到实现，如果念想本身不符合自身，那么实现的过程就必须跨越道道鸿沟，
              比如钢琴之于我，是非常不相称的东西，但向往之心犹在，万不会因为时光流转而销声匿迹，
              反而因为念想的时长而愈发强烈。最后，用一个借来的名义，付诸实践，美其名曰为了孩子。
              且不觉，只要心怀理想，男人就永远是个少年～ 真钢琴和电钢琴的选择上没有疑虑，家用后者完胜。只是在选择产品的时候还是花了很多时间的，
              比如卡西欧，罗兰… </p>
            <p><a href="">阅读全文 »</a></p>
          </div>
          <hr/>
        </li>

        <li>
          <h4>12 Apr 2014 on Yamaha, digital piano, P-105</h4>
          <h2><a href="">雅马哈P-105电钢琴</a></h2>
          <div>
            <p>从一个念想到实现，如果念想本身不符合自身，那么实现的过程就必须跨越道道鸿沟，
              比如钢琴之于我，是非常不相称的东西，但向往之心犹在，万不会因为时光流转而销声匿迹，
              反而因为念想的时长而愈发强烈。最后，用一个借来的名义，付诸实践，美其名曰为了孩子。
              且不觉，只要心怀理想，男人就永远是个少年～ 真钢琴和电钢琴的选择上没有疑虑，家用后者完胜。只是在选择产品的时候还是花了很多时间的，
              比如卡西欧，罗兰… </p>
            <p><a href="">阅读全文 »</a></p>
          </div>
          <hr/>
        </li>

        <li>
          <h4>12 Apr 2014 on Yamaha, digital piano, P-105</h4>
          <h2><a href="">雅马哈P-105电钢琴</a></h2>
          <div>
            <p>从一个念想到实现，如果念想本身不符合自身，那么实现的过程就必须跨越道道鸿沟，
              比如钢琴之于我，是非常不相称的东西，但向往之心犹在，万不会因为时光流转而销声匿迹，
              反而因为念想的时长而愈发强烈。最后，用一个借来的名义，付诸实践，美其名曰为了孩子。
              且不觉，只要心怀理想，男人就永远是个少年～ 真钢琴和电钢琴的选择上没有疑虑，家用后者完胜。只是在选择产品的时候还是花了很多时间的，
              比如卡西欧，罗兰… </p>
            <p><a href="">阅读全文 »</a></p>
          </div>
          <hr/>
        </li>
      </ul>

      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">&lt;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>

    <div class="col-sm-3 col-sm-offset-1">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
      </div>
      <div>
        <h3>About</h3>

        <p>姓名: 王彦军</p>

        <p>英文名: Linder Wang</p>

        <p>漂泊地: 北京</p>

        <p>职位：Web研发工程师</p>

        <p>email：bd_wyj@sina.com</p>
      </div>

      <div>
        <h3>最热文章</h3>
        <ol class="list-unstyled">
          <li><a href="#">AngularJS源码分析</a> <span> - 539 views</span></li>
          <li><a href="#">AngularJS源码分析</a> <span> - 539 views</span></li>
          <li><a href="#">AngularJS源码分析</a> <span> - 539 views</span></li>
          <li><a href="#">AngularJS源码分析</a> <span> - 539 views</span></li>
          <li><a href="#">AngularJS源码分析</a> <span> - 539 views</span></li>
          <li><a href="#">AngularJS源码分析</a> <span> - 539 views</span></li>
          <li><a href="#">AngularJS源码分析</a> <span> - 539 views</span></li>
        </ol>
      </div>

      <div>
        <h3>近期文章</h3>
        <ol class="list-unstyled">
          <li><a href="#">AngularJS源码分析</a> <span>2014年3月19日</span></li>
          <li><a href="#">AngularJS源码分析</a> <span>2014年3月19日</span></li>
          <li><a href="#">AngularJS源码分析</a> <span>2014年3月19日</span></li>
          <li><a href="#">AngularJS源码分析</a> <span>2014年3月19日</span></li>
          <li><a href="#">AngularJS源码分析</a> <span>2014年3月19日</span></li>
          <li><a href="#">AngularJS源码分析</a> <span>2014年3月19日</span></li>
          <li><a href="#">AngularJS源码分析</a> <span>2014年3月19日</span></li>
        </ol>
      </div>

      <div>
        <h3>文章归档</h3>
        <ol class="list-unstyled">
          <li><a href="#">2014年三月</a> <span>（4）</span></li>
          <li><a href="#">2014年一月</a> <span>（5）</span></li>
          <li><a href="#">2013年十二月</a> <span>（5）</span></li>
          <li><a href="#">2013年十一月</a> <span>（5）</span></li>
          <li><a href="#">2013年十月</a> <span>（5）</span></li>
        </ol>
      </div>

      <div>
        <h3>分类目录</h3>
        <ol class="list-unstyled">
          <li><a href="#">AngularJs</a> <span>（4）</span></li>
          <li><a href="#">Css</a> <span>（5）</span></li>
          <li><a href="#">Html</a> <span>（5）</span></li>
          <li><a href="#">Jquery</a> <span>（5）</span></li>
          <li><a href="#">nodejs</a> <span>（5）</span></li>
        </ol>
      </div>

      <div>
        <h3>近期评论</h3>
        <ol class="list-unstyled">
          <li>张三评论了&lt;&lt;AngularJS源码分析&gt;&gt; 这篇文章写得不错...</li>
          <li>张三评论了&lt;&lt;AngularJS源码分析&gt;&gt; 这篇文章写得不错...</li>
        </ol>
      </div>

      <div>
        <h3>站外博客</h3>
        <ol class="list-unstyled">
          <li><a href="#">AngularJs</a></li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->