<h1 class="article-type-title">标签：{{label}}</h1>

<article class="article-info" ng-repeat="article in articles">
  <header>
    <h4 class="link">
        <span class="glyphicon glyphicon-calendar"></span>
        {{article.createdDate}}
    </h4>

    <h2><a ng-href="#/article/{{article._id}}">{{article.title}}</a></h2>
  </header>

  <section class="article-content" ng-bind-html="article.content"></section>

  <aside class="article-meta"></aside>
  <!-- /.post-meta -->
  <hr/>
</article>

<!--页面加载后，滚动条滑到最上面-->
<div class="sr-only" scroll-top></div>
