// 以下变量跟 bootstrap对应，需要定制的皮肤颜色
// 定制参考： http://www.lavishbootstrap.com
@body-bg: #fff;

@gray-lighter: #eee;

@gray-light: #777;

@gray: #555;

@brand-primary: #428bca;

@gray-dark: #333;

@navbar-inverse-bg: #222;

//页面底部样式
@footer-links-title-color: #999;
@footer-links-content-color: #428bca;
@footer-copyright-color: #999;
@footer-copyright-bg: #f9f9f9;

//后台管理样式
@sidebar-bg:#f5f5f5;
@sidebar-border-color:#eee;
@sidebar-color:#428bca;
@sidebar-active-color:#fff;
