<div class="jumbotron">
  <div class="container text-center">
    <h1>Hope Future 博客</h1>

    <h2>开源、简洁、免费博客系统，让你书写博客更方便，更简单。</h2>

    <p style="margin-top: 30px;">
      <a class="btn btn-lg btn-primary" target="_blank"
         href="https://github.com/linder0209/hopefuture-blog">Hope Future 博客源码下载</a>
      <a class="btn btn-lg btn-primary" target="_blank"
         href="https://github.com/linder0209/hopefuture-blog/issues/new" style="margin-left:20px;">意见反馈</a>
    </p>

  </div>
</div>

<div class="container">
  <article class="article-boutique">
    <h2 class="text-center"><a href="">JavaScript中的原型和继承</a></h2>

    <div>
      <p>
        JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承 </p>

      <p><a ng-href="#/article/{{article._id}}">阅读全文 »</a></p>
    </div>
    <hr/>
  </article>

  <article class="article-boutique">
    <h2 class="text-center"><a href="">JavaScript中的原型和继承</a></h2>

    <div>
      <p>
        JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承 </p>

      <p><a ng-href="#/article/{{article._id}}">阅读全文 »</a></p>
    </div>
    <hr/>
  </article>

  <article class="article-boutique">
    <h2 class="text-center"><a href="">JavaScript中的原型和继承</a></h2>

    <div>
      <p>
        JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承 </p>

      <p><a ng-href="#/article/{{article._id}}">阅读全文 »</a></p>
    </div>
    <hr/>
  </article>

  <article class="article-boutique">
    <h2 class="text-center"><a href="">JavaScript中的原型和继承</a></h2>

    <div>
      <p>
        JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承JavaScript中的原型和继承 </p>

      <p><a ng-href="#/article/{{article._id}}">阅读全文 »</a></p>
    </div>
  </article>

  <nav class="text-center">
    <ul class="pagination pagination-lg boutique-pagination">
      <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
      <li><span class="page-number">2 / 5</span></li>
      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
  </nav>

</div>

